<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
	
</head>
<body>
    {% include "header_home.html" %}
    
      <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-3 text-center">
             
            </div>
              
          </div>

          <div class="row">
            <div class="col-sm-6">
                <img class="img-fluid " src="/static/images/1.jpg" alt="">
          </div>
              
                  <form action="" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-5">
                            <img src="/static/img/654.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="col-sm-7">
                            <div class="row">
                                {% for message in messages%}
                                <div class="alert alert-success" role="alert">
                                    {{message}}
                                   
                                </div>
                                {% endfor %}
                                <div class="col-sm-12 mb-2 text-center">
                                    <h3>Donor Register</h3>
                                </div>
                                <div class="col-sm-3 mb-4">
                                    Donor Name
                                </div>
                                <div class="col-sm-9 mb-4">
                                    <input type="text" name="dname" class="form-control" required>
                                </div>
                                <div class="col-sm-3 mb-2">
                                    Father's/Mother's Name
                                </div>
                                <div class="col-sm-9 mb-2">
                                    <input type="text" name="rname" class="form-control" required>
                                </div>
                                <div class="col-sm-3 mb-2">
                                    Residential Address
                                </div>
                                <div class="col-sm-9 mb-2">
                                    <textarea name="addr" class="form-control" id="" cols="30" rows="6">

                                    </textarea>
                                    
                                </div>
                                <div class="col-sm-3 mb-2">
                                    Date-Of-Birth
                                </div>
                                <div class="col-sm-9 mb-2">
                                    <input type="date" name="dob" class="form-control" required>
                                </div>
                                <div class="col-sm-3 mb-2">
                                    Gender
                                </div>
                                <div class="col-sm-9 mb-2">
                                    <select name="gender" class="form-select">
                                        <option>Male</option>
                                        <option>Female</option>
                                       
                                    </select>
                                </div>
                                <div class="col-sm-3 mb-2">
                                    Blood Group
                                </div>
                                <div class="col-sm-9 mb-2">
                                    <select name="bgroup" class="form-select">
                                        <option>O+</option>
                                        <option>O-</option>
                                        <option>B+</option>
                                        <option>B-</option>
                                        <option>AB+</option>
                                        <option>AB-</option>
                                        <option>A+</option>
                                        <option>A-</option>
                                       </select>
                                </div>
                                <div class="col-sm-3 mb-2">
                                    Organs that i wish to donate
                                </div>
                                <div class="col-sm-9 mb-2">
                                    <select name="organ" class="form-select">
                                        <option>All Organs</option>
                                        <option>Eyes</option>
                                        <option>Kidneys</option>
                                      <option>Lungs</option>
                                      <option>Heart</option>
                                      <option>Liver</option>
                                      
                                      
                                       </select>
                                </div>
                                <div class="col-sm-3 mb-2">
                                    Occupation
                                </div>
                                <div class="col-sm-9 mb-2">
                                    <input type="text" name="occ" class="form-control" required>
                                </div>
                                <div class="col-sm-3 mb-2">
                                    E-Mail
                                </div>
                                <div class="col-sm-9 mb-2">
                                    <input type="email" name="email" class="form-control" required>
                                </div>
                                <div class="col-sm-3 mb-2">
                                    Contact No
                                </div>
                                <div class="col-sm-9 mb-2">
                                    <input type="number" name="cno" class="form-control" required>
                                </div>
                                
                                <input type="hidden" name="st" value="-">
                                <input type="hidden" name="ddate" value="-">
                                <input type="hidden" name="hash" value="-">
                                
                                <div class="col-sm-3 mb-2">
    
                                </div>
                                <div class="col-sm-9 mb-2">
    
                                    <input type="submit" class="btn btn-success" value="Register">
                                    
                                </div>
    
                            </div>
                        </div>
                        
    
                    
            </form>
              </div>
             
          </div>
      </div>
      <div class="footer">
        <div class="copyright text-center">
        <p>Copyright © {% now "Y" %}</p>
        </div>
        </div>
</body>
</html>