</div>
        
<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
    </div>
  </div>
  <!-- /.col-->
</div>
<!-- /.row-->
</div>
</div>
<footer class="footer">
<div style="visibility: hidden;"> <center><a href="#">Copyrights</a> © 2023</center> </div>

</footer>
</div>
<!-- CoreUI and necessary plugins-->
<script src="../static/assets/vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
<script src="../static/assets/vendors/simplebar/js/simplebar.min.js"></script>
<!-- Plugins and scripts required by this view-->
<script src="../static/assets/vendors/chart.js/js/chart.min.js"></script>
<script src="../static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
<script src="../static/assets/vendors/@coreui/utils/js/coreui-utils.js"></script>
<script src="../static/js/main.js"></script>
<script>
</script>





</body>
</html>